@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('./components.css');

:root {
    --color: red;
}

@font-face {
    font-family: test;
    src: url(https://example.com/test.woff2);
}

@font-face {
    font-family: relative;
    src: url('../font.woff2')
}

body {
    background-color: black;
    background-image: url('../image.jpg');

    & main {
        color: var(--red);
    }
}